:root{
  --fb-primary-purple: #9966cc;
  --fb-primary-green: #00FA9A;
  --fb-primary-pink: #FF1493;
  --fb-primary-yellow: #FFD700;
  --fb-primary-gray: #A9A9A9;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: #f8f8f8;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaderboard-main{
  height: 500px;
}

.leaderboard-avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: .5rem;
}

.leaderboard-text-color-green{
  color: var(--fb-primary-green);
}

.leaderboard-text-color-gold{
  color: var(--fb-primary-yellow);
}

.leaderboard-text-color-purple{
  color: var(--fb-primary-purple);
}

.leaderboard-text-color-pink{
  color: var(--fb-primary-pink);
}

.button-background-color-purple{
  background: var(--fb-primary-purple);
}

.button-background-color-gray{
  background: var(--fb-primary-gray);
}

.milestones {
  width: 545px;
  height: 490px;
}

.list-item{
  position: relative;
  width: 460px;
  height: 92px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.list-item-chart-progress-bar{
  height: 20px;
}

.list-image{
  position: absolute;
  top: 20px;
  left: -30px;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.text-containers-headers-details{
  font-size: 10px;
  width: 80%;
}

.chart-containers{
  margin-left: 3rem;
}

.milestone-header{
  padding: 0;
  margin: 0;
}

.milestone-list-items{
  position: absolute;
  width: 67px;
  height: 67px;
  left: 0px;
  top: 13px;
}

.network {
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
}

.overview-card{
  width: 40rem;
  height: 25rem;
}

.overview-card-2nd-row{
  width: 40rem;
  height: 35rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;